$text-color: #414141;
$blue: #008fd5;
$blue-dark: #09242e;
$blue-light: #538293;
$grey: #7a7878;
$green: #79c200;
$green-light: #aeda66;
$orange: #f7902f;

$ff-os-regular: "OpenSansRegular", Arial, sans-serif;
$ff-os-light: "OpenSansLight", Arial, sans-serif;
$ff-os-sbold: "OpenSansSemiBold", Arial, sans-serif;
$ff-os-bold: "OpenSansBold", Arial, sans-serif;